
<div class="container">
<div class="row">
           <div class="col-md-12">
             <h3>
              Introduction
             </h3>

             <p>
              I am a Nairobian computer and numbers guys born and raised in a small village somewhere in the southern parts of Machakos county.I have no idea how these computers and numbers interact but...well..anyway, What I basically do is I simphon meaninful insights from structured data sets. This is actually a fancy way of saying I help business people smile more and enjoy coffee with confidence. It's time to make informed decisions for your businesses.
             </p>

             
           </div>
          
 </div>

  <div class="row">
             <div class="col-md-12">
              <h3> Work Portfolio</h3>
             </div>
  </div>

  <div class="row editable">

            <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>

            

             <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>
             <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>

            

          
 </div>

 <div class="row editable">

            <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>

            

             <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>
             <div class="col-md-4 imgs">
               <img src="play_store.png">

               
            </div>
   
          
 </div>


<div class="row">
             <div>
              <h3> Click here for more</h3>
             </div>
  </div>

       
</div>

 </div>





