
<div class="info-box">
  <div class="row editable">
      <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>            

      <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>
      <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>             
 </div>
 <div class="row editable">
     <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>            

      <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>
      <div class="col m4">
        <img class=" port_img" src="play_store.png">               
      </div>              
 </div>

 
  <div class="row">
      <div>
         <p id="more_portfolio"> Click here for more</p>
      </div>
  </div>

       
</div>






