
 <div class="row">
     <div class="col s12 m12 l12" id="one">
          <canvas id="buyers"></canvas>
     </div>
 </div>


<script>
    // line chart data
    var buyerData = {
          labels : ["UX", "HTML/CSS","jquery","Ruby on Rails", "Mysql","Android", "Communication","Team-work"],
                  datasets : [
                  {

                      type: "bar",
                      fillColor : "rgba(0, 255, 0,0.3)",
                      // strokeColor: "rgba(220,220,220,0.8)",
                      //highlightFill: "rgba(220,220,220,0.75)",
                      //highlightStroke: "rgba(220,220,220,1)",
                      data : [70, 80, 60, 70, 65, 50, 80, 90]
                  }
              ]
              }
              // get line chart canvas
              var buyers = document.getElementById('buyers').getContext('2d');


              // draw line chart
           var myChart = new Chart(buyers).Bar(buyerData, {});
              document.getElementById('legen').innerHTML = myChart.generateLegend();

</script>
