<div class="row"> 
        <div class="col-md-2">
          
        </div>

        <div class="col-md-4 box1">
              <input type="Name" placeholder="Name..." >
        </div>

        <div class="col-md-4 box1">

              <input type="Email" placeholder="Email...">
        </div>
        <div class="col-md-2">
          
        </div>
</div>     

<div class="row">  
          <div class="col-md-2 messager">        
                   
              
          </div>     

          <div class="col-md-8 messager">        
                   
              <div>
                   <input id="halla" type="message" placeholder="Your Message here">
              </div>
</div>     

 <div class="col-md-2 messager">        
                   
              
 </div> 

 </div>