<div class="main_page">
<div class=" container">
<div class="row">

    <div class="col-md-4">
        <h1>
          "Hi, I'm Justus, <br>a Software Engineer from Nairobi."
        </h1>

        
    </div>

    <div class="col-md-8">
    	
    </div>

    
</div>
</div>
</div>