
<div class="container about_me">

<div class="row" id="about_page">
           <div class="col-md-12">
             <h3>
              About me
             </h3>
            </div>
</div>
<div class="row">
            <div class="col-md-12">
             <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </p>

           </div>
          
</div>
<hr>
<div class="row skillset">
             <div class="col-md-4">
              <h3> Skills </h3>
             </div>

              <div class="col-md-8">
                <img id="skill_img" src="/skills.png">     
              </div>      
 </div>
<hr>
<div class="row work">
             <div class="col-md-4">
              <h3> Work </h3>
             </div>

               <div class="col-md-8">

                 <div class="row">
                 <div class="col-md-12">
                 <h3>
                   Company X
                 </h3>

                 <p>
                   Job Title
                 </p>

                 <p>
                   Time period
                 </p>
    
                <h4>
                  Duties
                </h4>

                <p>
                  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
               </div>
              </div>

             <div class="row">
             <div class="col-md-12">
                   <h3>
                     Company X
                   </h3>

                   <p>
                     Job Title
                   </p>

                   <p>
                     Time period
                   </p>
   
                  <h3>
                    Duties
                  </h3>

                  <p>
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
    
               </div>
       </div>
 </div>

 
<hr>

<div class="row education">
           <div class="col-md-4">
             <h3>
              Education
             </h3>
            </div>




    <div class="col-md-8">

        <div class="row">
        <div class="col-md-12">
         <h3>
           Web and android design and development
         </h3>

          <h3>
          Moringa School
          </h3>

         <p>
          Time period
         </p>
        </div>
        </div>



        <div class="row">
        <div class="col-md-12">
       
         <h3>
           BSC Agribusiness management
         </h3>
    
          <h3>
            University of Nairobi
          </h3>

      <p>
        Time period
      </p>

      </div>
      </div>

   </div>    
<hr>

</div>

