/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";

 @import "bootstrap";

.container{
    text-align: center;

}

#topnotch{
    width: 100%;
    border-bottom: solid #040404;
    background-color: #040404;
}
 
 .navigation_bar{
    color: white;
    text-transform: uppercase;
    }
#jina{

font-family: 'Lobster', cursive;

}

 .navigation_bar ul {
    float: right;
   

}

.navigation_bar li {
    display: inline-block;
    margin: 15px;
}

.malinks{
color: #fff !important;
}


        
.contact_us_k{

    height: 100%;
    color: white;

    
}

input {
      border-size: 8px;
      padding: 10px;
      font-size: 18px;
      font-style: italic;
      border-color: white;
      background-color: transparent;
      border-style: solid;

    }

.the_two_boxes{

display: inline-block;

}

.box1{
    float: left;
    padding:0 10px;
    margin: 0 70px;

}

.biger_box{
 padding:0 10px;

}

.messager{
    display: inline-block;
}

input{
    color: white;
}

.messager input{

    height: 160px;
    width: 767px;
    margin-top: 35px;
}




