.main_page{
	
   
   
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/home_background.jpg');
   text-align: center;
   background-size:cover;
   background-repeat: no-repeat;
   color: white;
   height: 500px;
   padding-top: 10%;
   width:100%;
   font-family: 'Lobster', cursive;

  


}