.main_page{
	
   
   
   background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ), url('/homebg.jpg');
   text-align: center;
   background-size:cover;
   background-repeat: no-repeat;
   color: white;
   height: 600px;
   padding-top: 10%;
   width:100%;
   font-family: 'Lobster', cursive;

  


}