<!DOCTYPE html>
<html>
<head>
  <title>Justus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<!--the nav bar-->

  <div class="row navigation_bar">
    <div class="col-md-3">
    	<h2> Justus</h2>
    </div>
    <div class="col-md-2">
    	
    </div>
    <div class="col-md-7 menu">
    	<ul>
    		<li>Home</li>
    		<li>About</li>
    		<li>Portfolio</li>
    		<li>Life</li>
    		<li>Blog</li>
    		<li>Contact</li>
    	</ul>
    </div>
  	
  </div>




<%= yield %>






<footer>
	<div class="row">
     <div class="col-md-12"> 

          <a href="www.twitter.com">
    	        <img src="/twitter.png">
    	   </a>

    	

    	<a href="https://www.facebook.com/?_rdr">
    	   <img src="/facebook.png">
    	</a>

    	<a href="https://plus.google.com/">
    	   <img src="/g_plus.png">
    	</a>

        <a href="http://www.skype.com/en/">
           <img src="/skype.png">
        </a>

    
    	
</div>
</div>



<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">    
    	<p> 
    	   &copy Justus-2015
    	</p>
    

    	
    </div>  
 </div>
</footer>


</div>
</body>
</html>
